<!-- No templates provided, will use default layout -->
<context-table [data]="employees"></context-table>

<!-- Basic configured template -->
<context-table [data]="employees">
  <ng-template contextTableHeader>
    <th>First</th>
    <th>Last</th>
  </ng-template>
</context-table>

<!-- Highly configured template with conditional elements -->
<context-table [data]="inventory">
  <ng-template [contextTableHeader]="inventory" let-header>
    <th>Item</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </ng-template>
  <ng-template [contextTableRow]="inventory" let-row>
    <td>{{ row.name }}</td>
    <td>{{ row.price | currency: row.currency }}</td>
    <td>
      <button *ngIf="row.inStock > 0" (click)="purchaseItem(row.plu)">
        Buy now
      </button>
    </td>
    <td>
      <button>Delete</button>
    </td>
  </ng-template>
</context-table>
